body{
	background-color:  #64AB2B;	
	background-image:  url("homebg.png");
}

#titlebar{
	height: 100px;
	width: 100%;
	position: relative;
	min-width: 800px;
	background-color: #217A17;
	border-bottom: white 1px solid white;
}

#titletext{
	position: absolute;
	font-size: 4em;
	color: white;
	font-family: "Arial Black", Gadget, sans-serif;
	min-width: 800px;
}

#maindiv{
	width: 100%;
	height: 500px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	-moz-box-shadow: -5px 5px -5px #000000;
	-webkit-box-shadow: -5px 5px 5px #000000;
	box-shadow: -5px 5px 5px #000000;
	
	background-color: #8EF13C;
	background-image:  url("divbg.png");
}

#centertable{
	width: 100%;
	height: 100%;
}

#leftbox{
	width: 50%;
	text-align: center;
	border-bottom-left-radius: 50px;
}

#rightbox{
	width: 50%;
	text-align: center;
	border-bottom-right-radius: 50px;
}

#bottombar{
	width: 95%;
	background-color: #8EF13C;
	background-image:  url("divbg.png");
	color: black;
	position: absolute;
	bottom: 0px;
}

#bottombar li{
	list-style: none;
	float: right;
}

#bottombar a{
	text-decoration: none;
	padding: 5px;
}

#centerdiv{
	margin:  100px;
	text-align: center;
}

#centerbutton{
	height: 100px;
	width: 300px;
	font-size: 3em;
	background-color: #12B31F;
	color: black;
	border-radius:  100px;
}

#maintable{
	width: 100%;
}

#lyricstd{
	width: 60%;
}

choicetd{
	width: 40%;
}

#lyricsdiv{
	position: relative;
	width: 100%;
	height: 500px;
	overflow: auto;
	padding-top: 20px;
	min-width: 600px;
}

#choicediv{
	position: relative;
	width: 100%;
	height: 500px;
	overflow: auto;
	padding-top: 20px;
}

#lyrics{
	position: absolute;
	left: 10%;
	font-size: 1.7em;
	text-shadow: 0px 0px 2px #000000;
}

#lastsong, #artist, #song, #album{
	font-size: 1.2em;
	text-shadow: 0px 1px 1px #474747;
	margin-left: 50px;
}

#nextbutton{
	height: 50px;
	width: 120px;
	font-size: 2.5em;
	background-color: white;
	color: "#A3A3A3";
	border-radius: 20px;
}

#nextinput{
	position: absolute;
	left: 150px;
}

#logindiv{
	text-shadow:  0px 0px 2px #000000;
	font-size: 1.5em;
}

#loginsubmit{
	text-shadow:  0px 0px 2px #000000;
	font-size:  1.2em;
	border-color: black;
	background-color:  rgb(112,112,112);
	background-image: linear-gradient(bottom, rgb(56,56,56) 27%, rgb(112,112,112) 64%, rgb(204,204,204) 82%);
	background-image: -o-linear-gradient(bottom, rgb(56,56,56) 27%, rgb(112,112,112) 64%, rgb(204,204,204) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(56,56,56) 27%, rgb(112,112,112) 64%, rgb(204,204,204) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(56,56,56) 27%, rgb(112,112,112) 64%, rgb(204,204,204) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(56,56,56) 27%, rgb(112,112,112) 64%, rgb(204,204,204) 82%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.27, rgb(56,56,56)),
		color-stop(0.64, rgb(112,112,112)),
		color-stop(0.82, rgb(204,204,204))
	);
}

#loginsubmit:hover{
	background-image: linear-gradient(bottom, rgb(128,126,125) 27%, rgb(166,166,166) 64%, rgb(224,224,224) 82%);
	background-image: -o-linear-gradient(bottom, rgb(128,126,125) 27%, rgb(166,166,166) 64%, rgb(224,224,224) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(128,126,125) 27%, rgb(166,166,166) 64%, rgb(224,224,224) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(128,126,125) 27%, rgb(166,166,166) 64%, rgb(224,224,224) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(128,126,125) 27%, rgb(166,166,166) 64%, rgb(224,224,224) 82%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.27, rgb(128,126,125)),
		color-stop(0.64, rgb(166,166,166)),
		color-stop(0.82, rgb(224,224,224))
	);
}

#loginsubmit:active{
	background-image: linear-gradient(bottom, rgb(122,85,122) 27%, rgb(163,134,163) 64%, rgb(224,197,224) 82%);
	background-image: -o-linear-gradient(bottom, rgb(122,85,122) 27%, rgb(163,134,163) 64%, rgb(224,197,224) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(122,85,122) 27%, rgb(163,134,163) 64%, rgb(224,197,224) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(122,85,122) 27%, rgb(163,134,163) 64%, rgb(224,197,224) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(122,85,122) 27%, rgb(163,134,163) 64%, rgb(224,197,224) 82%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.27, rgb(122,85,122)),
		color-stop(0.64, rgb(163,134,163)),
		color-stop(0.82, rgb(224,197,224))
	);
}

.choices{
	height: 40px;
	width: 100px;
	border-radius: 15px;
	font-size: 0.9em;
	text-shadow: 0px 1px 1px #474747;
	margin: 2px;
	background-color: white;
	}