body{
	background-color:  #64AB2B;	
	background-image:  url("homebg.png");
}

#titlebar{
	height: 100px;
	width: 100%;
	position: relative;
}

#titletext{
	position: absolute;
	font-size: 4em;
	color: white;
	font-family: "Arial Black", Gadget, sans-serif;
}

#maindiv{
	width: 100%;
	height: 500px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	-moz-box-shadow: -5px 5px -5px #000000;
	-webkit-box-shadow: -5px 5px 5px #000000;
	box-shadow: -5px 5px 5px #000000;
	
	background-color: #8EF13C;
	background-image:  url("divbg.png");
}

#centertable{
	width: 100%;
	height: 100%;
}

#leftbox{
	width: 50%;
	text-align: center;
	border-bottom-left-radius: 50px;
}

#rightbox{
	width: 50%;
	text-align: center;
	border-bottom-right-radius: 50px;
}

#bottombar{
	width: 95%;
	background-color: #8EF13C;
	background-image:  url("divbg.png");
	color: black;
	position: absolute;
	bottom: 0px;
}

#bottombar li{
	list-style: none;
	float: right;
}

#bottombar a{
	text-decoration: none;
	padding: 5px;
}

#centerdiv{
	margin:  100px;
	text-align: center;
}

#centerbutton{
	height: 100px;
	width: 300px;
	font-size: 3em;
	background-color: #12B31F;
	color: black;
	border-radius:  100px;
}

#lyricsdiv{
	position: relative;
	width: 100%;
	height: 400px;
	overflow: auto;
	padding-top: 20px;
}

#lyrics{
	position: absolute;
	left: 20%;
	text-shadow: 0px 0px 2px #000000;
	font-size: 2em;
}

#inputdiv{
	width: 100%;
	margin: 30px;
}

#inputbox{
	font-size: 2.5em;
	text-shadow: 0px 0px 1px #000000;
	margin-left: 120px;
	margin-right: 30px;
}

#nextbutton{
	height: 50px;
	width: 120px;
	font-size: 2.5em;
	background-color: white;
	color: black;
	border-radius: 20px;
}