body{
	background-color:  #F1F0F0;
	width: 100%;
	height: 100%;
}

/*========================================================*/
/*	The stuff at the top of the page (the title bar).	==*/
/*========================================================*/

#titlebar{
	height: 60px;
	width: 100%;
	position: absolute;
	min-width: 800px;
	background-color: rgb(76, 135, 77);
	border-bottom: 1px solid white;
	left: 0;
	top: 0;
	background-image: linear-gradient(bottom, rgb(76,135,77) 74%, rgb(56,87,57) 100%);
	background-image: -o-linear-gradient(bottom, rgb(76,135,77) 74%, rgb(56,87,57) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(76,135,77) 74%, rgb(56,87,57) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(76,135,77) 74%, rgb(56,87,57) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(76,135,77) 74%, rgb(56,87,57) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.74, rgb(76,135,77)),
		color-stop(1, rgb(56,87,57))
	);
}

#titletext{
	margin-left: 25px;
	margin-top: 5px;
	position: absolute;
	font-size: 2.8em;
	font-weight: 800;
	color: black;
	background-image: linear-gradient(bottom, rgb(184,184,184) 47%, rgb(224,224,224) 61%, rgb(250,250,250) 81%);
	background-image: -o-linear-gradient(bottom, rgb(184,184,184) 47%, rgb(224,224,224) 61%, rgb(250,250,250) 81%);
	background-image: -moz-linear-gradient(bottom, rgb(184,184,184) 47%, rgb(224,224,224) 61%, rgb(250,250,250) 81%);
	background-image: -webkit-linear-gradient(bottom, rgb(184,184,184) 47%, rgb(224,224,224) 61%, rgb(250,250,250) 81%);
	background-image: -ms-linear-gradient(bottom, rgb(184,184,184) 47%, rgb(224,224,224) 61%, rgb(250,250,250) 81%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.47, rgb(184,184,184)),
		color-stop(0.61, rgb(224,224,224)),
		color-stop(0.81, rgb(250,250,250))
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Georgia, sans-serif;
	min-width: 800px;
}

#logouttext{
	margin-left: 94%;
	font-size: 1.4em;
	font-weight: 400;
	color: white;
	position: relative;
	top: 15px;
	text-decoration: none;
}

/*====================================================================*/
/*	The basic structure of the stuff in the middle of the page. 	==*/
/*====================================================================*/

#containerdiv{
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
}

#centerdiv{
	position: relative;
	width: 920px;
	min-width: 920px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background-image:  url("divbg2.png");
	border: 1px solid #E0E0E0;
	}
	
#centertable{
	width: 100%;
	min-width: 100%;
	margin: 5px;
}

#leftout{
	width: 50%;
	text-align: center;
}

#rightout{
	width: 50%;
}

#leftin{
	width: 50%;
	text-align: center;
}

#rightin{
	width: 50%;
	text-align: center;
}

/*==========================================================================*/
/*	Everything having to do with the left side of the div for new users.  ==*/
/*==========================================================================*/

#join{
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
}
	
.registerfield{
	font-size: 2em;
	font-family: Georgia, sans-serif;
	border-radius: 12px;
	width: 350px;
	outline: none;
	padding-left: 3px;
}

#submit_register{
	width: 350px;
	font-size: 2em;
	font-family: sans-serif;
	border-radius: 25px;
	background-color: white;
}

#already_div{
	position: relative;
	top: 50px;
	text-align: center;
}

#alreadymember{
	font-size: 1.8em;
	font-family: Georgia, sans-serif;
	width: 100%;
}

#login_button{
	font-size: 1.8em;
	font-family: sans-serif;
	width: 300px;
	background-color: white;
	border-radius: 25px;
}

/*============================================================================*/
/*	Everything having to do with the right side of the div for new users.	==*/
/*============================================================================*/

#description{
	text-align: left;
	font-size: 1.4em;
	font-family: Georgia, sans-serif;
}

/*================================================================================*/
/*	Everything having to do with the left side of the div for logged in users.	==*/
/*================================================================================*/

#mainbutton{
	font-size: 1.8em;
	font-family: sans-serif;
	width: 300px;
	background-color: white;
	border-radius: 25px;
}

/*================================================================================*/
/*	Everything having to do with the right side of the div for logged in users.	==*/
/*================================================================================*/

#statsbutton{
	font-size: 1.8em;
	font-family: sans-serif;
	width: 300px;
	background-color: white;
	border-radius: 25px;
}


/*================================================================================*/
/*	Everything having to do with friends.	==*/
/*================================================================================*/

#friendsbutton{
	font-size: 1.8em;
	font-family: sans-serif;
	width: 300px;
	background-color: white;
	border-radius: 25px;
}

/*================================================*/
/*	Everything having to do with logging in.	==*/
/*================================================*/

#loginform{
	width: 500px;
	height: 200px;
	border: 3px solid black;
	background-color: rgb(237, 237, 237);
	background-image: linear-gradient(bottom, rgb(199,199,199) 6%, rgb(224,224,224) 34%, rgb(237,237,237) 95%);
	background-image: -o-linear-gradient(bottom, rgb(199,199,199) 6%, rgb(224,224,224) 34%, rgb(237,237,237) 95%);
	background-image: -moz-linear-gradient(bottom, rgb(199,199,199) 6%, rgb(224,224,224) 34%, rgb(237,237,237) 95%);
	background-image: -webkit-linear-gradient(bottom, rgb(199,199,199) 6%, rgb(224,224,224) 34%, rgb(237,237,237) 95%);
	background-image: -ms-linear-gradient(bottom, rgb(199,199,199) 6%, rgb(224,224,224) 34%, rgb(237,237,237) 95%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.06, rgb(199,199,199)),
		color-stop(0.34, rgb(224,224,224)),
		color-stop(0.95, rgb(237,237,237))
	);
	border-radius: 15px;
	position: fixed;
	top: 200px;
	left: 200px;
	visibility: hidden;
	z-index: 5;
}

#sheet{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .5;
	visibility: hidden;
	z-index: 4;
}

.loginfield{
	outline: none;
	font-size: 1.4em;
	font-family: sans-serif;
	border-radius: 8px;
	width: 300px;
	padding-left: 3px;
	margin-left: 100px;
	position: relative;
	top: 30px;
}

#submit_login{
	font-size: 1.4em;
	font-family: Georgia, sans-serif;
	border-radius: 15px;
	width: 300px;
	margin-left: 100px;
	position: relative;
	top: 30px;
}