body{
	background-color:  #64AB2B;	
	background-image:  url("../homebg.png");
}

/*========================================================*/
/*	The stuff at the top of the page (the title bar).	==*/
/*========================================================*/

#titlebar{
	height: 60px;
	width: 100%;
	position: absolute;
	min-width: 800px;
	background-color: rgb(76, 135, 77);
	border-bottom: 1px solid white;
	left: 0;
	top: 0;
	background-image: linear-gradient(bottom, rgb(76,135,77) 74%, rgb(56,87,57) 100%);
	background-image: -o-linear-gradient(bottom, rgb(76,135,77) 74%, rgb(56,87,57) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(76,135,77) 74%, rgb(56,87,57) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(76,135,77) 74%, rgb(56,87,57) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(76,135,77) 74%, rgb(56,87,57) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.74, rgb(76,135,77)),
		color-stop(1, rgb(56,87,57))
	);
}

#titletext{
	margin-left: 25px;
	margin-top: 5px;
	position: absolute;
	font-size: 2.8em;
	font-weight: 800;
	color: black;
	background-image: linear-gradient(bottom, rgb(184,184,184) 47%, rgb(224,224,224) 61%, rgb(250,250,250) 81%);
	background-image: -o-linear-gradient(bottom, rgb(184,184,184) 47%, rgb(224,224,224) 61%, rgb(250,250,250) 81%);
	background-image: -moz-linear-gradient(bottom, rgb(184,184,184) 47%, rgb(224,224,224) 61%, rgb(250,250,250) 81%);
	background-image: -webkit-linear-gradient(bottom, rgb(184,184,184) 47%, rgb(224,224,224) 61%, rgb(250,250,250) 81%);
	background-image: -ms-linear-gradient(bottom, rgb(184,184,184) 47%, rgb(224,224,224) 61%, rgb(250,250,250) 81%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.47, rgb(184,184,184)),
		color-stop(0.61, rgb(224,224,224)),
		color-stop(0.81, rgb(250,250,250))
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Georgia, sans-serif;
	min-width: 400px;
}

#logouttext{
	margin-left: 94%;
	font-size: 1.4em;
	font-weight: 400;
	color: white;
	position: relative;
	top: 15px;
	text-decoration: none;
}


#content{
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top:5%;
	height: 80%;
	}
#everything{
	margin-left:2%;
	margin-top:2%;
	margin-right: 2%;
	margin_bottom: 1%;
	}
	
#ProfileName{
	font-weight: 700;
	}
	
table, td, tr, th{
	background-color: white;
	text-align: center;
}